body {
  font-family: Helvetica;
  text-align: center;
}

#top-nav a {
  font-size: 18px;
  color: white;
}

.page-title {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#header, #design-banner{
  background-image: url("../images/the-flatiron-building.png");
}

h2 {
  font-size: 32px;
}

h2, h3 {
  font-weight: bold;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

#copyright {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

#design-banner {
  color: white;
}

#footer-nav a {
  font-size: 18px;
  color: white;
  display: inline;
}
